.App {
  text-align: center;

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // font-size: calc(10px + 2vmin);
    color: white;

    .playgroundWrapper{

      display: flex;
      width: 300px;
      flex-wrap: wrap;
      
      .colorCard{
        height: 150px;
        width: 150px;
      }
      .flash.flash{
        border: 3px solid white;
        border-radius: 5px;
        box-sizing: border-box;
      }
      .red{
        background-color: red;
        &.flash{
          background-color: rgba(255, 0, 0, 0.322);
        }
      }
      .green{
        background-color: green;
        &.flash{
          background-color: rgba(0, 128, 0, 0.322);
        }
      }
      .yellow{
        background-color: yellow;
        &.flash{
          background-color: rgba(255, 255, 0, 0.322);
        }
      }
      .blue{
        background-color: blue;
        &.flash{
          background-color: rgba(0, 0, 255, 0.322);
        }
      }
    }
    .startButton{
      position: absolute;
      width: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}